html body {
    font-family: Helvetica;
    text-align: center;

}

.index_main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 5vw;
    justify-content: center;

}

.index_section {

    border: 1px black solid;
    padding: 2vw;

}

.index_section h1 {
    margin: 0 0 1vw 0;
}

.index_section a, button, input[type="submit"] {
    color: white;
    background-color: rgb(102, 162, 11);
    padding: 1.5vw;
    text-decoration: none;
    margin: 2vw;
    border: none;
    border-radius: 4px;
}




form {
    border: 1px black solid;
    border-radius: 12px;
    margin: auto;
    width: 200px;
    padding: 2vw;

}

form input {
    margin: 1vw;
    border-radius: 4px;
    padding: 4px;
}

form textarea {
    border-radius: 4px;
}

.result_fail {
    width: 32%;
    margin: auto;
    margin-bottom: 1vw;
    background-color: red;
    border: 3px darkred solid;
    border-radius: 12px;
    color: white;
    padding: 1vw;
}

.result_success {
    width: 30%;
    margin: auto;
    margin-bottom: 1vw;
    background-color: green;
    border: 3px darkgreen solid;
    border-radius: 12px;
    padding: 1vw;
    color: white;
}