{% extends 'base.html' %}

{% block title %}
Task Printing
{% endblock %}

{% block head %}

{% endblock %}

{% block body %}
<div class="task-form">
  <div id="result">

  </div>
  <form id="task-form">
    <input type="password" id="token" name="token" placeholder="Token*" autofocus required><br>
    <input type="text" id="name" name="name" placeholder="Name*" required><br>
    <label for="priority">Priority:</label><br>
    <input type="radio" id="0" name="priority" value="0" required><label for="0">Low</label>
    <input type="radio" id="1" name="priority" value="1" required><label for="1">Medium</label>
    <input type="radio" id="2" name="priority" value="2" required><label for="2">High</label>
    <input type="radio" id="3" name="priority" value="3" required><label for="3">Very High</label><br>
    <label for="deadline">Deadline</label><br>
    <input type="time" name="deadline" id="deadline"><br>
    <label for="desc">Description</label><br>
    <textarea id="desc" name="desc"></textarea><br>
    <input type="submit"> <input type="reset">

  </form>
</div>
{% endblock %}